/* Font Sizes */
$header1: 5.4rem;
$header2: 4rem;
$header3: 3.1rem;
$header4: 2rem;
$text: 1.8rem;

/* Margin Spacing */
$margin-extra-large: 5.4rem;
$margin-large: 3.6rem;
$margin-medium: 2.7rem;
$margin-small: 1.8rem;

/* Colors */
$bg-color: #222831;
$bg-color-alt: #393e46;
$text-color: #fff;
$link-color: #2f89fc;
$button-color: #30e3ca;

/* Colors for light mode if toggle is ever implemented
$bg-color: rgb(233, 233, 233);
$bg-color-alt: #fff;
$text-color: #222831;
*/
