/* Font Sizes */
$header1: 5.4rem;
$header2: 4rem;
$header3: 3.1rem;
$header4: 2rem;
$text: 1.8rem;

/* Margin Spacing */
$margin-extra-large: 4.8rem;
$margin-large: 3.2rem;
$margin-medium: 2.4rem;
$margin-small: 1.6rem;

/* Colors */
$bg-color: #40514e;
$bg-color-dark: #394745;
$text-color: #f5f5f5;
$link-color: #2f89fc;
$button-color: #30e3ca;
