* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  --header1: calc(2.6rem + 1vw);
  --header2: calc(3rem + 1vw);
  --header3: calc(2.4rem + 1vw);
  --header4: calc(2rem + 1vw);
  --text: calc(1.6rem + 1vw);
  --redText: #ff0000;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: var(--header1);
}

h2 {
  font-size: var(--header2);
}

h3 {
  font-size: var(--header3);
}

h4 {
  font-size: var(--header4);
}

li,
button,
label,
input,
a,
p {
  font-size: var(--text);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
