// Utilities
@import "./Utilities/variables.scss";

.appBody {
  width: 90%;
  max-width: 114rem;
  min-height: 85vh;
  margin: 0 auto;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  min-height: 5vh;
  padding: 0 $margin-small;
  margin-top: $margin-large;
  background-color: $bg-color-alt;
}

.socialIcons {
  a {
    width: 25px;
    height: 25px;
    margin: 0.5rem 0.5rem;
  }
}

@media (max-width: 1100px) {
  .footer {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 400px) {
  .appBody {
    width: 100%;
    margin: 0;
  }
}
