// Utilities
@import "./Utilities/variables.scss";

.appBody {
  min-height: 85vh;
}

.footer {
  min-height: 5vh;
  background-color: $bg-color-dark;
  margin-top: $margin-large;
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socialIcons {
  a {
    width: 25px;
    height: 25px;
    margin: 0.5rem 0.5rem;
  }
}
