// Utilities
@import "./Utilities/variables.scss";

.projectsSection {
  margin-top: $margin-large;
  display: flex;
  flex-direction: column;
}

.projectsHeading {
  text-align: center;
  margin-bottom: $margin-small;
}
