// Utilities
@import "./Utilities/variables.scss";

.projectsSection {
  margin-top: $margin-large;
}

.projectsHeading {
  text-align: center;
  margin-bottom: $margin-small;
}

.projectContainer {
  display: flex;
  justify-content: space-between;

  &.dark {
    background-color: $bg-color-dark;
  }

  &.reverse {
    flex-direction: row-reverse;
  }
}

.projectImage {
  background-color: black;
  width: 40rem;
  height: 22.5rem;
}

.projectInfo {
  width: 40rem;
  margin: $margin-small 0;
}
