// Utilities
@import "./Utilities/variables.scss";

.projectCard {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: $margin-small auto;
  background-color: $bg-color-alt;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.projectImage {
  background-color: black;
  width: 40rem;
  height: 22.5rem;

  img {
    width: 40rem;
    height: 22.5rem;
  }
}

.projectInfo {
  width: 40rem;
  margin: $margin-small auto;
}

.githubLinks {
  a:not(:last-child) {
    margin-right: $margin-small;
  }
}

@media (max-width: 1100px) {
  .projectCard {
    flex-direction: column;
    width: 400px;
  }

  .projectInfo {
    margin: $margin-small 1rem;
  }
}

@media (max-width: 400px) {
  .projectCard {
    flex-direction: column;
    width: 100%;
  }

  .projectInfo {
    width: 100%;
    margin: $margin-small 1rem;
  }

  .projectImage {
    width: 100%;

    img {
      width: 100%;
    }
  }
}
